---
layout: layouts/main.pug
awards:
- img: bigsee-interior-design-award.png
  url: /project/the-storyteller.html
  title: "Category: Hospitality"
  subtitle: "The Storyteller, Boutique Hotel"
- img: build-architecture-awards.png
  url: https://www.build-review.com/winners/babatchas-design-studio
  title: "Best Emerging Interior Design"
  subtitle: "Greece - 2021"
- img: bigsee-interior-design-award.png
  url: https://bigsee.eu/monsieur-didot-boutique-hotel-athens-greece/
  title: "Category: Hospitality"
  subtitle: "Monsieur Didot, the residence"
- img: hotelshow.png
  url: https://www.hotelshow.gr/gr/design-awards/participation/226
  title: "Best Boutique Style Hotel"
  subtitle: "Monsieur Didot, the residence"
- img: archello.png
  url: https://archello.com/project/private-residence-in-kolonaki
  title: "Best Projects of 2021"
  subtitle: "Private residence in Kolonaki"
---

main.main
  .intro
    .hidden-xs.hidden-sm
      img(
        style="width:100px;margin:0 auto;display:block;"
        src='/img/logo-sm.png')
      .hr.hr-bottom(
        style="width:150px"
      )
    .awards
      .row
        each award in awards
          .col-md-6
            a.award(href=award.url target='_blank')
              .logo
                img(src='/img/awards/'+award.img alt='')
              .title !{award.title}
              .subtitle !{award.subtitle}
