---
layout: layouts/main.pug
---

-
  var lang = page.lang || "en"
  var projects = collections.project
    .filter(p => p.data.lang === lang)
    .map(p => ({
      ...p.data,
      name: p.fileSlug
    }))

  var sortings = [
    "monsieur-didot",
    "the-storyteller",
    "aegina",
    "tinos-hotel",
    "peribanu",
    "santorini-elements",
    "residence-in-kolonaki",
    "naxos",
    "private-residence-in-paros",
    "erithraia",
    "private-residence-in-kardiani",
    "agios-romanos",
    "house-sk-arkadia",
    "kafeneio-gakias",
    "athens-law-firm",
    "tinos-law-firm",
  ]

  projects = projects.sort((a,b) => {
    return sortings.indexOf(a.key) - sortings.indexOf(b.key)
  })
  var filters = projects.reduce((acc, p) => {
    if (acc.find(x=>x===p.category)) return acc
    acc.push(p.category)
    return acc
  }, [])

.content(style='margin-top:70px')
  section.porftolio
    .container-fluid
      ul.filter
        li
          a(href='#' data-filter='*') #{labelAll}
        each filter in filters
          li
            a(href='#' data-filter=filter) #{filter}
    .isotope
      each project in projects
        .isotope-item(data-filter=project.category)
          a(href= (lang!=="en" ? '/'+lang : '') +'/project/'+project.name+'.html' title=project.title)
            figure.showcase-item
              .showcase-item-thumbnail
                img(alt='' src='/img/projects/'+project.name+'/main.jpg')
              figcaption.showcase-item-hover.dark
                .showcase-item-info
                  .showcase-item-category #{project.title}
                  .showcase-item-title #{project.category}
                  if project.in_progress
                    .showcase-item-description #{translations[lang].in_progress}
