{{>_start page="press"}}
<div class="content" style="margin-top:70px">
    <section class="porftolio">
        <div class="isotope">
            {{#each press}}
            <div class="isotope-item">
                <a href="{{url}}" title="{{title}}" target="_blank">
                    <figure class="showcase-item">
                        <div class="showcase-item-thumbnail">
                            <img alt="{{title}}" src="/img/press/{{image}}">
                        </div>
                        <figcaption class="showcase-item-hover dark">
                            <div class="showcase-item-info">
                                <div class="showcase-item-category">{{title}}</div>
                                <div class="showcase-item-title">{{subtitle}}</div>
                            </div>
                        </figcaption>
                    </figure>
                </a>
            </div>
            {{/each}}
        </div>
    </section>
</div>

{{>_end}}