{{>_start page="projects"}}
<div class="content">
    <section class="porftolio">
        <div class="container-fluid">
            <ul class="filter">
                <li><a href="#" data-filter="*">{{filtersAll}}</a></li>
                {{#each filters}}
                <li><a href="#" data-filter=".{{this}}">{{this}}</a></li>
                {{/each}}
            </ul>
        </div>
        <div class="isotope">
            {{#each projects}}
            <div class="isotope-item {{category}}">
                <a href="/project/{{name}}.html" title="{{title}}">
                    <figure class="showcase-item">
                        <div class="showcase-item-thumbnail">
                            <img alt="" src="/img/projects/{{name}}/{{photo}}">
                        </div>
                        <figcaption class="showcase-item-hover dark">
                            <div class="showcase-item-info">
                                <div class="showcase-item-category">{{title}}</div>
                                <div class="showcase-item-title">{{category}}</div>
                            </div>
                        </figcaption>
                    </figure>
                </a>
            </div>
            {{/each}}
        </div>
    </section>
</div>

{{>_end}}