{{>_start page="projects"}}
<div class="content">
    <section class="porftolio">
        <div class="container-fluid">
            <ul class="filter">
                <li class="active"><a href="#" data-filter="*">All</a></li>
                <li class=""><a href="#" data-filter=".Hospitality">Hospitality</a></li>
                <li class=""><a href="#" data-filter=".Residential">Residential</a></li>
                <li class=""><a href="#" data-filter=".Commercial">Commercial</a></li>
                <li class=""><a href="#" data-filter=".Product">Product</a></li>
            </ul>
        </div>
        <div class="isotope">
            {{#each projects}}
            <div class="isotope-item {{category}}">
                <a href="/project/{{name}}.html" title="{{title}}">
                    <figure class="showcase-item">
                        <div class="showcase-item-thumbnail">
                            <img alt="" src="/img/projects/{{name}}/main.jpg">
                        </div>
                        <figcaption class="showcase-item-hover dark">
                            <div class="showcase-item-info">
                                <div class="showcase-item-category">{{title}}</div>
                                <div class="showcase-item-title">{{category}}</div>
                            </div>
                        </figcaption>
                    </figure>
                </a>
            </div>
            {{/each}}
        </div>
    </section>
</div>

{{>_end}}